<div class="container">
    <div class="footer">
        <div class="footer-left"><img src="./assets/img/logo-white.webp"></div>
        <div class="footer-right text-center">
            <div> © 2020 Junus Ergin & Manuel Thaler GbR
                | <a href="https://developerakademie.com/datenschutz.html" target="_blank">Datenschutz</a>
                | <a href="https://developerakademie.com/impressum.html" target="_blank">Impressum</a>
                | <a href="https://developerakademie.com/agb.html" target="_blank">AGB</a>
                | <a href="https://developerakademie.com/widerruf.html" target="_blank">Widerruf</a>
            </div>

            <div>
                This site is not a part of the Facebook website or Facebook Inc. Additionally, This site is NOT endorsed
                by Facebook in any way. FACEBOOK is a trademark of FACEBOOK, Inc.
            </div>
        </div>
    </div>
</div>