.landing-fold {
    color: rgb(77, 76, 76) !important;
    display: flex;
    padding-top: unset !important;
    // padding-bottom: unset !important;
    position: relative;

    .mouse-icon {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 32px;

        img {
            width: 20px;
        }
    }

    h1 {
        font-weight: 500;
        color: rgb(11, 7, 7);
        font-size: 38px;
        text-size-adjust: 100%;
        font-family: "Open Sans", Helvetica, sans-serif;
    }
}

.trust-link {
    &:hover {
        img {
            transform: scale(1.1);
        }
    }
}

.trust {
    transition: all 125ms ease-in-out;
    cursor: pointer;
    width: 200px;
}

.girl {
    width: 400px;
}

.quote {
    background-color: #efe8dd;
    padding-bottom: 24px;
    padding-top: 24px;
    img {
        width: 20px;
    }

    div {
        display: flex;
        justify-content: flex-end;
        font-weight: 700;
        font-size: 16px;
    }
}

.video-section {
    .video-container {
        padding: 16px;
        box-shadow: rgb(119, 119, 119) 0px 10px 6px;
        border-color: rgba(0, 0, 0, 0.2);
        border-radius: 5px;
        border-bottom-style: solid;
        display: inherit;
    }
}

.case-study-wrapper {
    @media (min-width: 1200px) {
        background-color: #E0E0E0;
        padding: 32px 5% 32px 5%;
    }
}

.customer-section {
    border-radius: 5px;
    color: white;

    p {
        text-align: center;
    }

    .customer-container {
        display: table;
    }

    img {
        width: 270px;
        border-radius: 100%;
    }

    .customer-description {
        display: table-cell;
        width: 45%;
        vertical-align: middle;
    }
    .customer-seperator {
        display: table-cell;
        width: 10%;
        vertical-align: middle;
    }

    .vertical-seperator {
        border-left: 1px solid rgba(#fd8178, 0.5);
        height: 200px;
        margin-left: 50%;
    }

    .customer-picture {
        display: table-cell;
        width: 45%;
        vertical-align: middle;
    }
}

.testimonial-row {
    display: flex;
    justify-content: space-between;

    img {
        width: 28%;
        object-fit: contain;
        transition: all 225ms ease-in-out;
        cursor: pointer;

        &:hover {
            transform: scale(1.5);
            box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.2);
            background-color: white;
        }
    }
}

.skills {
    display: flex;
    justify-content: space-between;

    .skill-box {
        background-color: white;
        width: 200px;
        height: 200px;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 5px 0px;
        box-sizing: border-box;
        border-radius: 10px;
        font-size: 18px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding-left: 16px;
        padding-right: 16px;

        @media (min-width: 800px) and (max-width: 1050px) {
            width: 160px;
        }

        img {
            width: 100px;
        }

        span {
            text-align: center;
            margin-top: 16px;
        }
    }
}

.cta-section {
    color: white;
    font-size: 22px;
    background-image: url("/../assets/img/background.webp");
}

.team-members {
    img {
        width: 60%;
    }
    font-size: 18px;
    font-family: "Open Sans", Helvetica, sans-serif !important;

    .table-cell {
        text-align: center;
        // padding-left: 32px;
        // padding-right: 32px;
    }
}

.location {
    iframe {
        width: 100%;
        height: 500px;
    }
}

@media (max-width: 800px) {
    .customer-container {
        display: flex !important;
        flex-direction: column !important;
    }
    .customer-picture,
    .customer-description {
        display: flex !important;
        width: 100% !important;
        flex-direction: column;
    }
    .customer-seperator {
        display: none;
    }

    .testimonial-row {
        flex-direction: column;

        img {
            width: 100% !important;
            cursor: unset;

            &:hover {
                transform: scale(1);
                box-shadow: none;
            }
        }
    }

    .skills {
        flex-direction: column;
    }

    .skill-box {
        width: 100% !important;
        margin-bottom: 32px;
    }

    .video-container {
        padding: 0 !important;
        box-shadow: unset !important;
        border-color: unset !important;
        border-radius: unset !important;
        border-bottom-style: unset !important;
    }
}
