<div class="landing-fold mt-l container">
    <div>
        <h1>Online-Weiterbildung
            zum <span class="text-pink">
                <b>Programmierer</b>
            </span>
        </h1>
        <p class="font-size-large pr-xl">
            <b>Als Quereinsteiger</b> in <b>3</b> bis <b>6</b> Monaten zu einem gefragten Web-Programmierer
            werden und anschließend den
            ersten gutbezahlten Job in der IT-Branche finden.
        </p>
        <a href="https://de.trustpilot.com/review/developerakademie.com?utm_medium=trustbox&utm_source=TrustBoxBasic&utm_campaign=free"
            class="trust-link" target="_blank">
            <img class="trust" src="./assets/img/trustpilot.jpg">
        </a>

        <div class="mt-l">
            <a routerLink="/termin" class="apply-btn">
                <i class="fa fa-arrow-right fa_prepended"></i>
                Kostenlose Beratung
            </a>
        </div>
    </div>
    <div class="hide-mobile">
        <img class="girl" src="./assets/img/girl.jpg">
    </div>
    <div class="flex-center mouse-icon hide-mobile"><img src="./assets/img/icons8-mouse-64.jpg"></div>
</div>



<!-- Quote -->
<div class="quote container">
    <div class="flex-center">
        <img src="./assets/img/quote.png">
    </div>
    <p class="font-size-large text-center letter-spacing-1">"Die Digitalisierung ist jetzt auch in Deutschland voll
        angekommen. Auf dem
        Jobmarkt
        suchen überall tolle Unternehmen verzweifelt nach gut ausgebildeten Programmierern." </p>
    <div>
        <span class="text-pink">MANUEL THALER</span>
    </div>
</div>

<div class="video-section container table">
    <div class="table-cell pr-m">
        <div class="card flex-center">
            <!-- video-container -->
            <iframe src="//fast.wistia.net/embed/iframe/it01z2zp9u" class="big-screen-only" allowtransparency="true"
                frameborder="0" scrolling="no" name="wistia_embed" allowfullscreen mozallowfullscreen
                webkitallowfullscreen oallowfullscreen msallowfullscreen width="620" height="349"></iframe>
            <iframe src="//fast.wistia.net/embed/iframe/it01z2zp9u" class="medium-screen-only" allowtransparency="true"
                frameborder="0" scrolling="no" name="wistia_embed" allowfullscreen mozallowfullscreen
                webkitallowfullscreen oallowfullscreen msallowfullscreen width="420" height="240"></iframe>
            <iframe src="//fast.wistia.net/embed/iframe/it01z2zp9u" class="small-screen-only" allowtransparency="true"
                frameborder="0" scrolling="no" name="wistia_embed" allowfullscreen mozallowfullscreen
                webkitallowfullscreen oallowfullscreen msallowfullscreen width="420" height="240"></iframe>
            <iframe src="//fast.wistia.net/embed/iframe/it01z2zp9u" class="very-small-screen-only"
                allowtransparency="true" frameborder="0" scrolling="no" name="wistia_embed" allowfullscreen
                mozallowfullscreen webkitallowfullscreen oallowfullscreen msallowfullscreen width="320"
                height="180"></iframe>
        </div>
    </div>
    <div class="table-cell v-align-bottom video-description">
        <div class="line-black hide-mobile"></div>
        <h2 class="text-pink font-size-large">Als Quereinsteiger in die IT-Branche</h2>
        <p class="text-left font-size-medium">Durch <b>1:1 Online-Training</b> mit erfahrenen Coaches
            <b>Web-Programmierer</b> werden, ohne dafür Jahre an
            Zeit zu verlieren. </p>

        <div class="mt-l d-flex">
            <a routerLink="/termin" routerLinkActive="router-link-active" class="apply-btn">
                <i class="fa fa-arrow-right fa_prepended"></i>
                Kostenlose Beratung
            </a>
        </div>
    </div>
</div>



<div class="case-study-wrapper">
    <div class="customer-section bg-dark container" id="casestudies">
        <h2><b>KUNDEN-FALLSTUDIEN AUS DER PRAXIS</b></h2>

        <div class="customer-container">
            <div class="customer-picture">
                <div class="flex-center"> <img src="./assets/img/customer1.jpg"> </div>
                <div class="flex-center mt-m"> <b>David (M.A. Politikwissenschaften)</b></div>
            </div>
            <div class="customer-seperator hide-mobile">
                <div class="vertical-seperator"></div>
            </div>
            <div class="customer-description">
                <p class="customer-info-headline"><b class="text-pink">Ausgangslage</b></p>
                <p class="customer-info-text"><i>David hat Politikwissenschaften im Master studiert und startete bei der
                        Developer Akademie mit 29
                        Jahren.
                        David hatte zuvor versucht, sich über Online-Videos Programmieren beizubringen. Er hat aber
                        schnell
                        gemerkt, dass er so alleine nicht den Sprung in einen IT-Job schaffen wird.</i> </p>
                <p class="customer-info-headline"><b class="text-pink">Ziel</b></p>
                <p class="customer-info-text"><i>David plante als Quereinsteiger in den Tech-Bereich gehen und dort dann
                        nach ein paar eigenen
                        Projekten
                        als Web-Entwickler eine Anstellung finden.</i></p>

                <p class="customer-info-headline"><b class="text-pink">Ergebnis</b></p>
                <p class="customer-info-text"><i>Bereits nach 2 Monaten Coaching hat David ein Niveau erreicht, bei dem
                        er schon als
                        Web-Programmierer
                        arbeiten kann. Er baut dabei mithilfe von JavaScript, CSS und HTML gerade zwei Webseiten für
                        private
                        Kunden (ein Notariat und eine Anwaltskanzlei). Aktuell lernt er bei der Developer Akademie noch
                        das
                        Angular Framework, um danach dauerhaft als Freelancer in der IT Fuß zu fassen.</i> </p>
            </div>
        </div>
        <div class="mt-l mobile-reverse-column">
            <div class="customer-description">
                <p class="customer-info-headline"><b class="text-pink">Ausgangslage</b></p>
                <p class="customer-info-text"><i>Janani hat nach ihrem BWL-Studium im digitalen Marketing für ein
                        deutsches Unternehmen in der Nähe
                        von
                        München gearbeitet. Außer dem Bedienen von WordPress & genereller Neugier für IT, hatte sie
                        keine
                        Vorkenntnisse.</i>
                </p>
                <p class="customer-info-headline"><b class="text-pink">Ziel</b></p>
                <p class="customer-info-text"><i>Janani wollte sich mit 26 stärker in Richtung Produktmanagement & für
                        IT-Unternehmen entwickeln
                        und
                        endlich flexibler und international arbeiten.</i>
                </p>

                <p class="customer-info-headline"><b class="text-pink">Ergebnis</b></p>
                <p class="customer-info-text"><i>Nach einer nebenberuflichen Zusammenarbeit über 5 Monate, hat Janani
                        mit Unterstützung der
                        Developer
                        Akademie den Einstieg in ein digitales Unternehmen in Dubai als Analytics-Managerin geschafft.
                        Dort
                        verbindet Janani IT-Kompetenz mit digitaler Marketing-Erfahrung.</i>
                </p>
            </div>
            <div class="customer-seperator hide-mobile">
                <div class="vertical-seperator"></div>
            </div>
            <div class="customer-picture">
                <div class="flex-center"> <img src="./assets/img/customer2.jpg"> </div>
                <div class="flex-center mt-m"> <b> Janani (M.Sc. Betriebswirtin)</b></div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <h2>Das sagen unsere Teilnehmer auf Trustpilot über uns</h2>

    <div class="testimonial-row mt-m">
        <img src="./assets/img/testimonials/1.jpg">
        <img src="./assets/img/testimonials/2.jpg">
        <img src="./assets/img/testimonials/3.jpg">
    </div>

    <div class="testimonial-row mt-m hide-mobile">
        <img src="./assets/img/testimonials/4.jpg">
        <img src="./assets/img/testimonials/5.jpg">
        <img src="./assets/img/testimonials/6.jpg">
    </div>

    <div class="mt-l flex-center">
        <a routerLink="/termin" class="apply-btn">
            Jetzt ein Gespräch vereinbaren.
        </a>

    </div>
</div>

<div class="fade_rule"></div>

<div class="container bg-gray flex-root round-corners">
    <h2 class="font-size-26">Welche 4 Fertigkeiten du beherrschen wirst </h2>

    <div class="skills">
        <div class="skill-box">
            <img src="./assets/img/skills/1.png">
            <span>Webseiten & Anwendungen bauen</span>
        </div>
        <div class="skill-box">
            <img src="./assets/img/skills/2.png">
            <span>Apps, Spiele & Programme erstellen</span>
        </div>
        <div class="skill-box">
            <img src="./assets/img/skills/3.png">
            <span>IT-Projekte planen & managen</span>
        </div>
        <div class="skill-box">
            <img src="./assets/img/skills/4.png">
            <span>Gutbezahlten IT-Job bekommen</span>
        </div>
    </div>

    <div class="mt-l">
        <h2 class="font-size-26"><b>Deine Karriere als Web-Programmierer</b></h2>
        <div class="table mt-l">
            <div class="table-cell table-cell-center">
                <img class="image-soft-round" src="./assets/img/junus_ergin_manuel_thaler.jpg">
            </div>
            <div class="table-cell">
                <h3>Starte eine Karriere mit Perspektive</h3>
                <p class="letter-spacing-1">
                    Wir stellen dir die Weichen für deine Karriere als Fachkraft in der gefragtesten Branche der Welt.
                    Unser Ziel ist, dass du jeden Morgen wieder Lust darauf hast in die Arbeit zu gehen. Denn dort
                    erwarten dich ein Job mit spannenden Aufgaben am Zahn der Zeit, ein attraktives Gehalt und tolle
                    Arbeitsbedingungen.
                </p>
            </div>
        </div>


        <div class="table mt-m mobile-reverse-column">
            <div class="table-cell">
                <h3>Schöpfe dein persönliches Potential aus </h3>
                <p class="letter-spacing-1">
                    Wir legen mit dir zusammen den Grundstein für eine Karriere, in der du dich stetig
                    weiterentwickelst
                    – fachlich & persönlich. Dafür spielt es keine Rolle, ob du bereits Programmiererfahrung mitbringst.
                    In wenigen Wochen bist du wieder auf einem Karriereweg, auf den du stolz sein kannst.
                </p>
            </div>
            <div class="table-cell table-cell-center">
                <img class="image-soft-round" src="./assets/img/phone.jpg">
            </div>
        </div>


        <div class="table mt-m">
            <div class="table-cell table-cell-center">
                <img class="image-soft-round" src="./assets/img/map.jpg">
            </div>
            <div class="table-cell">
                <h3>Werde Teil unseres Netzwerks</h3>
                <p class="letter-spacing-1">
                    Werde Teil der Developer Akademie Community und programmiere zusammen mit anderen Teilnehmern aus
                    Deutschland, Österreich und der Schweiz Webseiten, Spiele und Applikationen. Profitiere von unserem
                    Netzwerk, tausche dich mit deinen Mentoren aus und werde Teil der exklusiven Developer Akademie
                    Alumni.
                </p>
            </div>
        </div>

    </div>
</div>





<div class="container" id="aboutus">
    <div class="table">

        <div class="table-cell width-33 v-align-top">
            <img src="./assets/img/manuel_thaler_junus_ergin.jpg" class="image-soft-round">
        </div>
        <div class="table-cell width-67 v-align-top pl-xl">
            <div class="line-pink hide-mobile"></div>
            <h2>Deine IT-Weiterbildung <br>
                <b class="text-pink"><i>Made in Germany</i></b></h2>
            <p class="text-left">Junus & Manuel leiten als Gründer die Weiterbildung und das Mentoring der Teilnehmer.
                Manuel (30) hat als CFO eines erfolgreichen IT-Unternehmens dutzende IT-Mitarbeiter eingestellt, geführt
                und weiterentwickelt. Er weiß genau was ein Programmierer mitbringen muss und wie man in der IT Karriere
                macht. Er bildet die Teilnehmer in den Themen Projekt-Management und Karriere aus und unterstützt mit
                seiner Erfahrung bei den Bewerbungen. Manuel wählt unsere Teilnehmer persönlich aus.</p>
            <p class="text-left">Junus (28) ist das Programmierer-Talent hinter der Developer Akademie. Schon mit 13
                Jahren verdiente er sein Geld mit dem Bauen von Webseiten für Anwaltskanzleien. Mit 26 Jahren bildete er
                als leitender Entwickler eines deutschen IT-Unternehmens dutzende neue Programmierer aus. Er
                verantwortete dort die Entwicklung aller Ärzte-Produkte. Nebenbei baute er eine Vielzahl von Apps mit
                insgesamt deutlich über hunderttausend Downloads.</p>
        </div>
    </div>

    <div class="flex-center mt-l">
        <a routerLink="/termin" class="apply-btn">
            Jetzt ein Gespräch vereinbaren.
        </a>
    </div>
</div>

<div class="video-section container table bg-gray">
    <div class="table-cell v-align-bottom video-description">
        <div class="line-black hide-mobile"></div>
        <h2 class="text-pink font-size-large">Was wird dich erwarten?</h2>
        <p class="text-left font-size-medium">Bei deiner Weiterbildung lernst du nach deiner <b>eigenen Geschwindigkeit</b>. 
            Du wirst von deinem <b>persönlichen Mentor</b> unterstützt, der für dich <b>24/7</b> erreichbar ist. Wir bauen zusammen Projekte und sorgen dafür, dass du schnell ein fundiertes IT-Wissen aufbaust, dass von Arbeitgebern überall nachgefragt wird.</p>

        <!-- <div class="mt-l d-flex">
            <a routerLink="/termin" routerLinkActive="router-link-active" class="apply-btn">
                <i class="fa fa-arrow-right fa_prepended"></i>
                Kostenlose Beratung
            </a>
        </div> -->
    </div>

    <div class="table-cell pr-m">
        <div class="card flex-center">
            <!-- video-container -->
            <iframe src="//fast.wistia.net/embed/iframe/ayvhfeha8e" class="big-screen-only" allowtransparency="true"
                frameborder="0" scrolling="no" name="wistia_embed" allowfullscreen mozallowfullscreen
                webkitallowfullscreen oallowfullscreen msallowfullscreen width="620" height="349"></iframe>
            <iframe src="//fast.wistia.net/embed/iframe/ayvhfeha8e" class="medium-screen-only" allowtransparency="true"
                frameborder="0" scrolling="no" name="wistia_embed" allowfullscreen mozallowfullscreen
                webkitallowfullscreen oallowfullscreen msallowfullscreen width="420" height="240"></iframe>
            <iframe src="//fast.wistia.net/embed/iframe/ayvhfeha8e" class="small-screen-only" allowtransparency="true"
                frameborder="0" scrolling="no" name="wistia_embed" allowfullscreen mozallowfullscreen
                webkitallowfullscreen oallowfullscreen msallowfullscreen width="420" height="240"></iframe>
            <iframe src="//fast.wistia.net/embed/iframe/ayvhfeha8e" class="very-small-screen-only"
                allowtransparency="true" frameborder="0" scrolling="no" name="wistia_embed" allowfullscreen
                mozallowfullscreen webkitallowfullscreen oallowfullscreen msallowfullscreen width="320"
                height="180"></iframe>
        </div>
    </div>

</div>



<!-- Quote Junus -->
<div class="quote container background-quote-image">
    <div class="flex-center">
        <img src="./assets/img/quote.png">
    </div>
    <p class="font-size-large text-center letter-spacing-1">"Der beste Zeitpunkt systematisch Programmieren zu lernen
        war gestern. Der
        Zweitbeste ist
        heute!"</p>
    <div>
        <span class="text-pink">JUNUS ERGIN</span>
    </div>
</div>


<div class="container bg-dark cta-section">
    <div class="table">
        <div class="table-cell">
            <p class="text-left">Du möchtest als <b>Programmierer</b> arbeiten oder durch Programmier-Kenntnisse deine
                Karriere-Optionen deutlich verbessern?</p>
        </div>
        <div class="table-cell">
            <div class="flex-center">
                <a routerLink="/termin" class="apply-btn">
                    Jetzt ein Gespräch vereinbaren.</a>
            </div>
        </div>
    </div>
</div>



<div class="container hide-mobile">
    <div class="table">
        <div class="table-cell v-align-top">
            <div class="line-pink"></div>
            <h2 class="font-size-xl">DEIN <span class="text-pink"><b>COACHING-TEAM</b></span></h2>

            <p class="text-left font-size-medium">Als Team aus erfahrenen IT-Managern, Programmierern und Designern,
                können wir dir gezielt alles beibringen, was du benötigst, um dich systematisch zum Programmierer
                weiterzuentwickeln.</p>
            <p class="text-left font-size-medium pr-xl">Deine Weiterbildung ist nicht dann erfolgreich, wenn du dir
                lediglich
                neues Wissen angeeignet hast. Es kommt darauf an, dass du danach den Schritt schaffst eine neue Rolle
                auszufüllen, und eine neue Karriere zu starten. Als Team mit allen notwendigen Kompetenzen, bringen wir
                dir von Anfang an bei, wie ein Programmierer zu arbeiten und deinen Platz in der IT-Welt zu finden. </p>
            <p class="text-left font-size-medium">Dafür stehen wir als Developer Akademie.</p>
        </div>
        <div class="table-cell team-members">
            <div class="table">
                <div class="table-cell v-align-top">
                    <img class="image-soft-round" src="./assets/img/team/1.jpg">
                    <div class="text-center"><b>Manuel Thaler</b></div>
                    <div class="text-center pr-m pl-m"><span>Co-Founder & Karriere-Coach </span></div>
                </div>
                <div class="table-cell v-align-top mobile-mt-l">
                    <img class="image-soft-round" src="./assets/img/team/2.jpg">
                    <div class="text-center"><b>Junus Ergin</b></div>
                    <div class="text-center pr-m pl-m"><span>Co-Founder & Tech-Coach </span></div>
                </div>
            </div>
            <div class="table mt-l">
                <div class="table-cell v-align-top">
                    <img class="image-soft-round" src="./assets/img/team/3.jpg">
                    <div class="text-center"><b>Pimpajee Chanthakosol</b></div>
                    <div class="text-center pr-m pl-m"><span>UX / UI Designer</span></div>
                </div>
                <div class="table-cell v-align-top mobile-mt-l">
                    <img class="image-soft-round" src="./assets/img/team/4.jpg">
                    <div class="text-center"><b>Karim Abdo</b></div>
                    <div class="text-center pr-m pl-m"><span>App-Development Mentor</span></div>
                </div>
            </div>

        </div>
    </div>
</div>


<div class="container location">
    <div class="line-pink"></div>
    <h2 class="font-size-xl">UNSER <span class="text-pink"><b>STANDORT</b></span></h2>
    <p>Unser Büro befindet sich im Herzen von München, direkt an der Isar in der Lilienstraße 3.</p>
    <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2662.925889937509!2d11.585743315834451!3d48.13095255960104!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x479ddf7d1d69a615%3A0xd5c83671e0dc7b27!2sLilienstra%C3%9Fe%203%2C%2081669%20M%C3%BCnchen!5e0!3m2!1sde!2sde!4v1596619394714!5m2!1sde!2sde"
        frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
</div>