<div class="landing-fold mt-l container">
    <div class="mt-l">
        <h1>Online-Weiterbildung
            zum <span class="text-pink">Programmierer</span>
        </h1>
        <p class="font-size-large">
            <b>Als Quereinsteiger</b> in <b>3</b> bis <b>6</b> Monaten zu einem gefragten Web-Programmierer
            werden und anschließend den
            ersten gutbezahlten Job in der IT-Branche finden.
        </p>
        <img class="trust mt-l" src="./assets/img/trustpilot.webp">


        <div class="mt-l">
            <a href="#" class="apply-btn">
                <i class="fa fa-arrow-right fa_prepended"></i>
                Kostenlose Beratung
            </a>
        </div>
    </div>
    <div>
        <img class="girl" src="./assets/img/girl.webp">
    </div>
</div>



<!-- Quote -->
<div class="quote container mt-l">
    <div class="flex-center">
        <img src="./assets/img/quote.webp">
    </div>
    <p class="font-size-large">"Die Digitalisierung ist jetzt auch in Deutschland voll angekommen. Auf dem Jobmarkt
        suchen überall tolle Unternehmen verzweifelt nach gut ausgebildeten Programmierern." </p>
    <div>
        <span class="text-pink">MANUEL THALER</span>
    </div>
</div>

<div class="video-section container mt-l">
    <div class="video-cell">
        <div class="video-container">
            <iframe class="hide-mobile" width="320" height="180"
                src="https://fast.wistia.net/embed/iframe/1bk8naod9f?embedType=async&videoFoam=true&videoWidth=640?autoplay=0&wmode=transparent"
                allowtransparency="true" frameborder="0" scrolling="no" class="wistia_embed" name="wistia_embed"
                allowfullscreen="" mozallowfullscreen="" webkitallowfullscreen="" oallowfullscreen=""
                msallowfullscreen="" wmode="opaque"></iframe>
        </div>
    </div>
    <div class="video-cell">
        <div class="line-black"></div>
        <h2 class="text-pink font-size-large">Als Quereinsteiger in die IT-Branche</h2>
        <p>Durch <b>1:1 Online-Training</b> mit erfahrenen Coaches <b>Web-Programmierer</b> werden, ohne dafür Jahre an
            Zeit zu verlieren. </p>

        <div class="mt-l d-flex">
            <a href="#" class="apply-btn">
                <i class="fa fa-arrow-right fa_prepended"></i>
                Kostenlose Beratung
            </a>
        </div>
    </div>
</div>




<div class="customer-section mt-l bg-dark container">
    <h2>KUNDEN-FALLSTUDIEN AUS DER PRAXIS</h2>

    <div class="customer-container">
        <div class="customer-picture">
            <div class="flex-center"> <img src="./assets/img/customer1.webp"> </div>
            <div class="flex-center mt-m"> <b>David (M.A. Politikwissenschaften)</b></div>
        </div>
        <div class="customer-seperator">
            <div class="vertical-seperator"></div>
        </div>
        <div class="customer-description">
            <p><b class="text-pink">Ausgangslage</b></p>
            <p>David hat Politikwissenschaften im Master studiert und startete bei der Developer Akademie mit 29 Jahren.
                David hatte zuvor versucht, sich über Online-Videos Programmieren beizubringen. Er hat aber schnell
                gemerkt, dass er so alleine nicht den Sprung in einen IT-Job schaffen wird. </p>
            <p><b class="text-pink">Ziel</b></p>
            <p>David plante als Quereinsteiger in den Tech-Bereich gehen und dort dann nach ein paar eigenen Projekten
                als Web-Entwickler eine Anstellung finden.</p>

            <p><b class="text-pink">Ergebnis</b></p>
            <p>Bereits nach 2 Monaten Coaching hat David ein Niveau erreicht, bei dem er schon als Web-Programmierer
                arbeiten kann. Er baut dabei mithilfe von JavaScript, CSS und HTML gerade zwei Webseiten für private
                Kunden (ein Notariat und eine Anwaltskanzlei). Aktuell lernt er bei der Developer Akademie noch das
                Angular Framework, um danach dauerhaft als Freelancer in der IT Fuß zu fassen. </p>
        </div>
    </div>
    <div class="mt-l">
        <div class="customer-description">
            <p><b class="text-pink">Ausgangslage</b></p>
            <p>Janani hat nach ihrem BWL-Studium im digitalen Marketing für ein deutsches Unternehmen in der Nähe von
                München gearbeitet. Außer dem Bedienen von WordPress & genereller Neugier für IT, hatte sie keine
                Vorkenntnisse.
            </p>
            <p><b class="text-pink">Ziel</b></p>
            <p>Janani wollte sich mit 26 stärker in Richtung Produktmanagement & für IT-Unternehmen entwickeln und
                endlich flexibler und international arbeiten.
            </p>

            <p><b class="text-pink">Ergebnis</b></p>
            <p>Nach einer nebenberuflichen Zusammenarbeit über 5 Monate, hat Janani mit Unterstützung der Developer
                Akademie den Einstieg in ein digitales Unternehmen in Dubai als Analytics-Managerin geschafft. Dort
                verbindet Janani IT-Kompetenz mit Digitaler Marketing-Erfahrung.
            </p>
        </div>
        <div class="customer-seperator">
            <div class="vertical-seperator"></div>
        </div>
        <div class="customer-picture">
            <div class="flex-center"> <img src="./assets/img/customer2.webp"> </div>
            <div class="flex-center mt-m"> <b> Janani (M.Sc. Betriebswirtin)</b></div>
        </div>
    </div>
</div>


<div class="container testimonials">
    <h2>Das sagen unsere Teilnehmer auf Trustpilot über uns</h2>

    <div class="testimonial-row">
        <img src="./assets/img/testimonials/1.webp">
        <img src="./assets/img/testimonials/2.webp">
        <img src="./assets/img/testimonials/3.webp">
    </div>

    <div class="testimonial-row mt-m">
        <img src="./assets/img/testimonials/4.webp">
        <img src="./assets/img/testimonials/5.webp">
        <img src="./assets/img/testimonials/6.webp">
    </div>
</div>