<div class="landing-fold mt-l container">
    <div class="mt-l">
        <h1>Online-Weiterbildung
            zum <span class="text-pink">Programmierer</span>
        </h1>
        <p class="font-size-large">
            <b>Als Quereinsteiger</b> in <b>3</b> bis <b>6</b> Monaten zu einem gefragten Web-Programmierer
            werden und anschließend den
            ersten gutbezahlten Job in der IT-Branche finden.
        </p>
        <img class="trust mt-l" src="./assets/img/trustpilot.webp">


        <div class="mt-l">
            <a href="#" class="apply-btn">
                <i class="fa fa-arrow-right fa_prepended"></i>
                Kostenlose Beratung
            </a>
        </div>
    </div>
    <div>
        <img class="girl" src="./assets/img/girl.webp">
    </div>
</div>



<!-- Quote -->
<div class="quote">
    <img src="./assets/img/quote.webp">
    <p>"Die Digitalisierung ist jetzt auch in Deutschland voll angekommen. Auf dem Jobmarkt suchen überall tolle Unternehmen verzweifelt nach gut ausgebildeten Programmierern."    </p>
    <div>
        MANUEL THALER
    </div>
</div>