<div class="container flex-center">
    <div class="card">
        <h1 class="text-center">Vielen Dank für deine Bewerbung!</h1>
        <hr>
        <p class="text-center">Mein Team und ich werden <u>überprüfen</u>, ob und wie wir dir weiterhelfen können. Wir
            werden uns in der
            Regel <b>innerhalb von 48 Stunden</b> bei dir melden.
        </p>



        <div class="flex-center">
            <iframe width="640" height="360" class="hide-mobile"
                src="https://fast.wistia.net/embed/iframe/lupyvx6cat?embedType=async&amp;videoFoam=true&amp;videoWidth=640?autoplay=0&amp;wmode=transparent"
                allowtransparency="true" frameborder="0" scrolling="no" name="wistia_embed" allowfullscreen=""
                mozallowfullscreen="" webkitallowfullscreen="" oallowfullscreen="" msallowfullscreen=""
                wmode="opaque"></iframe>


            <iframe width="320" height="180" class="hide-desktop"
                src="https://fast.wistia.net/embed/iframe/lupyvx6cat?embedType=async&amp;videoFoam=true&amp;videoWidth=640?autoplay=0&amp;wmode=transparent"
                allowtransparency="true" frameborder="0" scrolling="no" name="wistia_embed" allowfullscreen=""
                mozallowfullscreen="" webkitallowfullscreen="" oallowfullscreen="" msallowfullscreen=""
                wmode="opaque"></iframe>
        </div>
    </div>
</div>