:host {
    display: block;
    min-height: 80vh;
    background-color: #eeeeee;
}

p {
    font-size:18px;
    margin-right: 32px;
    margin-left: 32px;
    padding-right: 80px;
    padding-left: 80px;
}
iframe {
    margin-bottom: 64px;
}

@media (max-width: 800px) {
    .container {
        padding: 0 !important;
    }
    .card {
        min-height: 80vh;
    }

    p{
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
}
