html {
    scroll-behavior: smooth;
}

body {
    font-family: "Roboto", sans-serif;
    color: rgb(5, 5, 5);
    margin: 0;
    line-height: 1.42;
}

h2 {
    font-size: 22px;
    font-weight: 500;
    color: rgb(16, 16, 16);
    font-family: "Open Sans", Helvetica, sans-serif;
}

.text-pink {
    color: #fd7065 !important;
}

.font-size-xl {
    font-size: 30px;
    margin-top: 4px;
}

.font-size-26 {
    font-size: 26px;
}

.font-size-large {
    font-size: 22px;
}

.font-size-medium {
    font-size: 18px;
}

.apply-btn {
    background-color: #fd7065;
    color: white !important;
    font-size: 16px;
    box-shadow: inset 0 1px 1px 0 rgba(255, 255, 255, 0.22);
    border-radius: 6px;
    border-bottom: 4px solid rgba(0, 0, 0, 0.13);
    padding: 16px;
    padding-left: 32px;
    padding-right: 32px;
    text-decoration: none;
    font-weight: 700;

    &:hover {
        background-color: #fd8178;
        text-decoration: none !important;
    }
}
.mb-l {
    margin-bottom: 55px;
}

.mt-l {
    margin-top: 55px;
}

.mt-m {
    margin-top: 32px;
}

.pr-m {
    padding-right: 16px;
}
.pr-xl {
    padding-right: 80px;
}

.pl-xl {
    padding-left: 80px;
}

.pl-m {
    padding-left: 16px;
}

.letter-spacing-1 {
    letter-spacing: 1px;
}

.container {
    padding-left: 64px;
    padding-right: 64px;
    padding-bottom: 55px;
    padding-top: 55px;
}

.flex-center {
    display: flex;
    justify-content: center !important;
    align-items: center !important;
}

.fade_rule {
    height: 1px;
    background-color: #e6e6e6;
    width: 80vw;
    margin: 0 auto;
    background-image: linear-gradient(left, white 2%, #e6e6e6 50%, white 98%);
}

.table-cell-center {
    text-align: center;
}
.line-black {
    height: 3px;
    background-color: #0d0c0c;
    width: 150px;
}

.d-flex {
    display: flex;
}

.bg-dark {
    // padding-top: 24px;
    // padding-bottom: 24px;
    background-color: #4c535e;

    h2 {
        color: white;
        text-align: center;
        font-size: 28px;
    }
}

.bg-gray {
    background-color: #fffcfc;
    display: flow-root;
}

.table {
    display: table;
}

.table-cell {
    display: table-cell;
    width: 50%;
    vertical-align: middle;

    h3 {
        font-size: 24px;
    }
    h3,
    p {
        text-align: center;
    }
}

@media (min-width: 800px) {
    .width-33 {
        width: 33% !important;
    }

    .width-67 {
        width: 67% !important;
    }
}

.image-soft-round {
    width: 400px;
    border-radius: 5px;
}

.line-pink {
    width: 140px;
    height: 3px;
    background-color: #fd7065;
}

.text-left {
    text-align: start !important;
}

.text-center {
    text-align: center !important;
}

.v-align-top {
    vertical-align: top;
}

.v-align-bottom {
    vertical-align: bottom !important;
}

.round-corners {
    border-radius: 5px;
}

.hide-desktop {
    display: none !important;
}
.card {
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 1px -1px, rgba(0, 0, 0, 0.14) 0px 1px 1px 0px,
        rgba(0, 0, 0, 0.12) 0px 1px 3px 0px;
    background-color: white;
    padding: 16px;

    h1 {
        color: #333 !important;
        font-size: 26px;
        margin-bottom: 0;
    }
    hr {
        margin-top: 0;
    }
}

.small-screen-only,
.medium-screen-only,
.big-screen-only {
    display: none;
}

@media (max-width: 800px) {
    .small-screen-only {
        display: unset !important;
    }
}

@media (min-width: 800px) and (max-width: 1300px) {
    .medium-screen-only {
        display: unset !important;
    }
}

@media (min-width: 1300px) {
    .big-screen-only {
        display: unset !important;
    }
}

@media (min-width: 1200px) {
    .container {
        padding-left: 128px;
        padding-right: 128px;
    }
}

@media (min-width: 1400px) {
    .container {
        padding-left: 192px;
        padding-right: 192px;
    }
}

@media (min-width: 1600px) {
    .container {
        padding-left: 256px;
        padding-right: 256px;
    }
}

@media (min-width: 1800px) {
    .container {
        padding-left: 320px;
        padding-right: 320px;
    }
}

@media (max-width: 800px) {
    body {
        text-align: center;
    }

    .container {
        padding-left: 48px;
        padding-right: 48px;
    }

    .hide-desktop {
        display: unset !important;
    }

    .hide-mobile {
        display: none !important;
    }

    .table-cell {
        // display: table-row;
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .mobile-reverse-column {
        display: flex;
        flex-direction: column-reverse;
    }

    .image-soft-round {
        width: 100%;
    }

    .mobile-mt-l {
        margin-top: 55px;
    }

    .pr-xl {
        padding-right: 0 !important;
    }

    .pl-xl {
        padding-left: 0 !important;
    }
}
