body {
    font-family: "Roboto", sans-serif;
    color: rgb(5, 5, 5);
    margin: 0;
}

h2 {
    font-size: 22px;
    font-weight: 500;
    color: rgb(16, 16, 16);
    font-family: "Open Sans", Helvetica, sans-serif;
}

.text-pink {
    color: #fd7065 !important;
}

.font-size-large {
    font-size: 22px;
}

.apply-btn {
    background-color: #fd7065;
    color: white !important;
    font-size: 16px;
    box-shadow: inset 0 1px 1px 0 rgba(255, 255, 255, 0.22);
    border-radius: 6px;
    border-bottom: 4px solid rgba(0, 0, 0, 0.13);
    padding: 16px;
    padding-left: 32px;
    padding-right: 32px;
    text-decoration: none;
    font-weight: 700;

    &:hover {
        background-color: #fd8178;
        text-decoration: none !important;
    }
}
.mb-l {
    margin-bottom: 55px;
}

.mt-l {
    margin-top: 55px;
}

.mt-m {
    margin-top: 32px;
}

.container {
    padding-left: 64px;
    padding-right: 64px;
}

.flex-center {
    display: flex;
    justify-content: center !important;
    align-items: center !important;
}

.line-black {
    height: 3px;
    background-color: #0d0c0c;
    width: 150px;
}

.d-flex {
    display: flex;
}

.bg-dark {
    padding-top: 24px;
    padding-bottom: 24px;
    background-color: #4c535e;

    h2 {
        color: white;
        text-align: center;
        font-size: 28px;
    }
}

.bg-gray {
    background-color: #fffcfc;
    display: flow-root;
}

.table {
    display: table;
}

.table-cell {
    display: table-cell;
    width: 50%;
    vertical-align: middle;

    h3 {
        font-size: 24px;
    }
    h3,
    p {
        text-align: center;
    }
}

.image-soft-round {
    width: 400px;
    border-radius: 5px;
}

@media (min-width: 1200px) {
    .container {
        padding-left: 128px;
        padding-right: 128px;
    }
}

@media (min-width: 1400px) {
    .container {
        padding-left: 192px;
        padding-right: 192px;
    }
}
