<div class="container flex-center">
    <div class="card">
        <h1>Dein Beratungsgespräch</h1>
        <hr>
        <div class="card-body">
            <!-- <p>In diesem kostenlosen <u>Beratungsgespräch</u> (ca. 45 Minuten) entwickeln wir
                gemeinsam einen individuellen Schritt-für-Schritt-Plan für deinen Weg zum IT-Job.
                Bitte fülle dieses <u>kurze Formular aus</u>, damit wir wissen, wie wir Dir am besten helfen können.
            </p>
            <p><u>(Die
                    Bewerbung ist 100% kostenlos und unverbindlich)</u></p> -->

            <p>
                <b>Bitte fülle das kurze Formular aus, damit wir dich kostenlos beraten können. Das Beratungsgespräch
                    (ca.
                    45 Minuten) besteht aus zwei Schritten:</b>
            </p>
            <ol>
                <li> Wir überprüfen zusammen, inwiefern <u>eine Weiterbildung zum Softwareentwickler</u> für dich der
                    richtige
                    Weg
                    ist</li>
                <li>Wir zeigen dir einen <u>Schritt-für-Schritt-Plan</u> auf, der dich <u>vom Anfänger bis zum ersten
                        Programmiererjob</u>
                    bringt</li>
            </ol>


            <!-- <p class="mb-s">
                (<u>Die Bewerbung ist 100% kostenlos & unverbindlich.</u>)</p> -->


            <iframe *ngIf="initialSource == 'google'" height="400" title="Embedded Wufoo Form" allowtransparency="true"
                frameborder="0" scrolling="no" style="width:100%;border:none"
                src="https://manuelthaler.wufoo.com/embed/p1cuskx31ojimic/"> <a
                    href="https://manuelthaler.wufoo.com/forms/p1cuskx31ojimic/">Fill out my Wufoo form!</a> </iframe>

            <iframe *ngIf="initialSource == 'youtube'" height="400" title="Embedded Wufoo Form" allowtransparency="true"
                frameborder="0" scrolling="no" style="width:100%;border:none"
                src="https://manuelthaler.wufoo.com/embed/wyht28b0ex0ulr/"> <a
                    href="https://manuelthaler.wufoo.com/forms/wyht28b0ex0ulr/">Fill out my Wufoo form!</a> </iframe>

            <iframe *ngIf="initialSource == 'facebook'" height="400" title="Embedded Wufoo Form"
                allowtransparency="true" frameborder="0" scrolling="no" style="width:100%;border:none"
                src="https://manuelthaler.wufoo.com/embed/skh95z00365tx5/"> <a
                    href="https://manuelthaler.wufoo.com/forms/skh95z00365tx5/">Fill out my Wufoo form!</a> </iframe>

            <iframe *ngIf="initialSource == 'youtube-ads'" height="400" title="Embedded Wufoo Form"
                allowtransparency="true" frameborder="0" scrolling="no" style="width:100%;border:none"
                src="https://manuelthaler.wufoo.com/embed/skh95z00365tx5/"> <a
                    href="https://manuelthaler.wufoo.com/forms/skh95z00365tx5/">Fill out my Wufoo form!</a> </iframe>

            <iframe *ngIf="initialSource == 'tiktok'" height="400" title="Embedded Wufoo Form"
                allowtransparency="true" frameborder="0" scrolling="no" style="width:100%;border:none"
                src="https://manuelthaler.wufoo.com/embed/skh95z00365tx5/"> <a
                    href="https://manuelthaler.wufoo.com/forms/skh95z00365tx5/">Fill out my Wufoo form!</a> </iframe>
        </div>
    </div>
</div>