<div class="container flex-center">
    <div class="card">
        <h1>Deine kostenlose Beratung</h1>
        <hr>
        <div class="card-body">
            <p>In diesem kostenlosen <u>Beratungsgespräch</u> (ca. 45 Minuten) entwickeln wir
                gemeinsam einen individuellen Schritt-für-Schritt-Plan für deinen Weg zum IT-Job.
                Bitte fülle dieses <u>kurze Formular aus</u>, damit wir wissen, wie wir Dir am besten helfen können.
            </p>
            <p><u>(Die
                    Bewerbung ist 100% kostenlos und unverbindlich)</u></p>



            <!-- <iframe *ngIf="initialSource == 'google'" height="617" title="Embedded Wufoo Form" allowtransparency="true"
                frameborder="0" scrolling="no" style="width:100%;border:none"
                src="https://manuelthaler.wufoo.com/embed/p1cuskx31ojimic/"> <a
                    href="https://manuelthaler.wufoo.com/forms/p1cuskx31ojimic/">Fill out my Wufoo form!</a> </iframe>

            <iframe *ngIf="initialSource == 'youtube'" height="620" title="Embedded Wufoo Form" allowtransparency="true"
                frameborder="0" scrolling="no" style="width:100%;border:none"
                src="https://manuelthaler.wufoo.com/embed/wyht28b0ex0ulr/"> <a
                    href="https://manuelthaler.wufoo.com/forms/wyht28b0ex0ulr/">Fill out my Wufoo form!</a> </iframe>

            <iframe *ngIf="initialSource == 'facebook'" height="617" title="Embedded Wufoo Form"
                allowtransparency="true" frameborder="0" scrolling="no" style="width:100%;border:none"
                src="https://manuelthaler.wufoo.com/embed/skh95z00365tx5/"> <a
                    href="https://manuelthaler.wufoo.com/forms/skh95z00365tx5/">Fill out my Wufoo form!</a> </iframe> -->
        </div>
    </div>
</div>