:host {
    display: block;
    min-height: 80vh;
    background-color: #eeeeee;
}

p {
    text-align: center;
}

.container{
    padding-top: 25px !important;
}

iframe{
    margin-top: 16px;
}

@media (min-width: 800px) {
    h1 {
        text-align: center;
    }
}

@media (min-width: 800px) {
    .card-body {
        padding-left: 80px;
        padding-right: 80px;
    }
}

@media (min-width: 1200px) {
    .card-body {
        padding-left: 180px;
        padding-right: 180px;
    }
}

@media (max-width: 550px){
    iframe{
        height: 550px;
    }
}
